body {
    font-family: YuMincho;
    font-weight: lighter;
}

h2 {
    color: #373162;
}

.header_top {
    background-color: #ffffff !important;
    color: #373162;
    font-size: 64px;
}

.footer_top {
    background-color: #373162 !important;
    color: #ffffff;
}

.header-page {
    background-color: #373162;
    color: #ffffff;
    width: 1463px;
    height: 194px;
    font-size: 64px;
}

.header-text {
    padding-left: 115px;
    display: flex !important;
    align-items: center !important;
}

button {
    display: flex;
    text-align: center;
    background-color: #373162;
    width: 39vw;
    height: 14vh;
    font-size: 6.25vh;
    border-radius: 100vh;
    font-family: YuMincho;
}

button:hover {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #373162;
}

.hamburger-menu {
    display: flex;
    width: 30px;
    height: 20px;
}

.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: #373162;
    margin-bottom: 4px;
}


